external logger @ "../arm-logger/log_sock" {
   fn print_route(List<str>) -> ()
}

fn require(req: HttpRequest) -> bool {
   logger::print_route(req.route());
   req.route() == ["a"]
}

fn client_payload(payload: data) -> bool {
  payload.len() < 10
}

fn server_payload(payload: data) -> bool {
  4 < payload.len()
}
