external logger @ "../arm-logger/log_sock" {
   fn print_route(List<str>) -> ()
}

fn require(req: HttpRequest) -> Policy {
   logger::print_route(req.route());
   if req.route() == ["a"] {
      Accept
   } else {
      Reject
   }
}

fn client_payload(payload: data) -> Policy {
  if payload.len() < 10 {
    Accept
  } else {
    Reject
  }
}

fn server_payload(payload: data) -> Policy {
  if 10 < payload.len() {
    Accept
  } else {
    Reject
  }
}
