// REST request allow/deny
fn allow_rest_request(req: HttpRequest) -> bool {
  Egress::add_label('egress-ok');
  req.path() == "/private"
}

// REST response allow/deny
fn allow_rest_response() -> bool {
  Ingress::has_label('ingress-ok')
}
