# Ignore everything
**

# Allow files and directories
!/armour-policy/
!/armour-data/
!/armour-data-interface/
!/armour-data-master/

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/target/**
