// REST request allow/deny
fn allow_rest_request() -> bool {
  Egress::add_label('egress-ok');
  true
}

// REST response allow/deny
fn allow_rest_response() -> bool {
  Ingress::has_label('ingress-ok')
}
