external logger @ "../arm-logger/log_sock" {
  fn log_request(HttpRequest) -> ()
  fn socket(str, List<Ipv4Addr>, i64) -> ()
}

fn require(req: HttpRequest) -> bool {
  logger::log_request(req);
  if let Some(hosts) = req.header("x-forwarded-host") {
    map host in hosts {
      if str::from_utf8(host) matches [name] ":" [port as i64] {
        if let Some(ips) = Ipv4Addr::lookup(name) {
          logger::socket(name, ips, port)
        }
      }
    };
  };
  req.route() == ["a"]
}

fn client_payload(payload: data) -> bool {
  payload.len() < 10
}

fn server_payload(payload: data) -> bool {
  4 < payload.len()
}
