fn allow_rest_request(from: ID, to: ID, req: HttpRequest, payload: data) -> bool { 
    if req.to().has_label('not-evaluated') {
        Egress::add_label('truc');
        server_ok(req.to())
    } else {
        false
    }
}

fn server_ok(id: ID) -> bool {
    "server" in  id.hosts() && //TODO should be based on some label at least for the topology
        if let Some(port) = id.port() {
            port == 80
        } else {
            // default is port 80
            true
        }
}

fn allow_rest_response(from: ID, to: ID, req: HttpResponse, payload: data) -> bool {
    Ingress::has_label('ingress-ok') && from.has_label('allowed')
}