fn onboarding_policy(obd: OnboardingData) -> OnboardingResult {
    let ep = obd.host();
    let service = obd.service();

    if let Some(id) = ControlPlane::onboarded(obd) {
        OnboardingResult::ErrID("Endpoint already onboarded", id)
    } else {
        let id = ControlPlane::newID(obd);
        let id = id.add_label(Label::new("SecureService"));
        let id = id.add_label(Label::login_time(System::getCurrentTime()));

        let id = if obd.has_proposed_label(Label::new("test")) {
            id.add_label(Label::new("test::passed"))
        } else {
            id.add_label(Label::new("test::failed"))
        };
        
        let id = fold x in obd.proposed_labels() { acc.add_label(x) } id;

        let pol = (compile_ingress("allow_rest_request", id),compile_egress("allow_rest_response", id));
        if ControlPlane::onboard(id) {
            OnboardingResult::Ok(id, pol.0, pol.1)            
        } else {
            OnboardingResult::Err("Onboard failure",
                            id,
                            pol.0, pol.1)
        }
    }
}