fn allow_rest_request(from: ID, to: ID, req: HttpRequest, payload: data) -> bool {
    to.server_ok() && from.has_label('allowed')
}

fn server_ok(id: ID) -> bool {
    id.has_label('server') &&
        if let Some(port) = id.port() {
            port == 80
        } else {
            // default is port 80
            true
        }
}

fn allow_rest_response(from: ID, to: ID, req: HttpResponse, payload: data) -> bool {
    true
}