external logger @ "log_sock" {
  fn log(_) -> ()
}

// REST request allow/deny
fn require(req: HttpRequest, from: ID, to: ID) -> bool {
  logger::log("request", req);
  req.route() == ["a"] && allow_connection(from, to)
}

// REST client payload allow/deny
fn client_payload(payload: data, from: ID, to: ID) -> bool {
  logger::log("client payload", payload);
  payload.len() < 10
}

// REST server payload allow/deny
fn server_payload(payload: data, from: ID, to: ID) -> bool {
  logger::log("server payload", payload);
  4 < payload.len()
}

// TCP connection/deny
fn allow_connection(from: ID, to: ID) -> bool {
  logger::log("connection", from, to);
  true
}
