fn allow_rest_request(req: HttpRequest) -> bool { 
    let (from, to) = req.from_to(); 
    "server" in to.hosts() && to.port() == Some(80) &&
    from.has_label('allowed')
}
