external logger @ "log_sock" {
  fn log(_) -> ()
}

// REST request allow/deny
fn allow_rest_request(req: HttpRequest) -> bool {
  Egress::wipe();
  logger::log(req.connection());
  req.to().has_label('allowed')
  //true
}

