external logger @ "log_sock" {
  fn log(_) -> ()
}

// REST request allow/deny
fn allow_rest_request() -> bool {
  Ingress::has_label('egress-ok')
  // Ingress::id() == Some('egress')
}

// REST response allow/deny
fn allow_rest_response() -> bool {
  Egress::add_label('ingress-ok');
  true
}
